{% extends 'base.html' %}

{% block sub_navbar %}
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-nav" href="{% url 'room_list' %}" style="color: #575757; text-decoration: none;">
      <i class="bi bi-arrow-left me-2"></i><em>Back to Home</em></a>
  </div>
</nav>
{% endblock %}

{% block content %}
<h2>Booking Submitted</h2>
<p>Your booking request has been submitted successfully and is pending approval.</p>
<a href="{% url 'room_list' %}" class="btn btn-primary">Return to Rooms</a>
{% endblock %}
