{% extends 'base.html' %}

{% block sub_navbar %}
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-nav" href="{% url 'room_list' %}" 
    style="color: #575757; text-decoration: none;" 
    onmouseover="this.style.color='#295dcf';"
    onmouseout="this.style.color='#575757';">
    <span class="d-inline-flex align-items-center">
      <i class="bi bi-arrow-left me-2"></i><em>Back to Home</em></a>
    </span>
  </div>
</nav>
{% endblock %}

{% block content %}
<h2>Update Booking: {{ booking.event_title }}</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-primary">Update Booking</button>
</form>
{% endblock %}
