{% extends 'base.html' %}

{% block sub_navbar %}
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-nav" href="{% url 'room_list' %}" 
    style="color: #575757; text-decoration: none;" 
    onmouseover="this.style.color='#295dcf';"
    onmouseout="this.style.color='#575757';">
      <i class="bi bi-arrow-left me-2"></i><em>Back to Home</em></a>
  </div>
</nav>
{% endblock %}

{% block content %}
<h2>My Bookings</h2>
<table class="table">
  <thead>
    <tr>
      <th>Event Title</th>
      <th>Room</th>
      <th>Time</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for booking in bookings %}
    <tr>
      <td>{{ booking.event_title }}</td>
      <td>{{ booking.room.name }}</td>
      <td>{{ booking.start_time|date:"Y-m-d H:i" }} - {{ booking.end_time|date:"Y-m-d H:i" }}</td>
      <td>{{ booking.status }}</td>
      <td>
        {% if booking.status == 'pending' or booking.status == 'approved' %}
          <a href="{% url 'update_booking' booking.id %}" class="btn btn-sm btn-warning">Edit</a>
          <a href="{% url 'cancel_booking' booking.id %}" class="btn btn-sm btn-danger">Cancel</a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
