{% extends 'base.html' %}
{% block content %}



<h2>Available Rooms</h2>

<!-- Filter Form -->
<form method="get" class="mb-4">
  <div class="row mb-3">
    <div class="col-md-4">
      <label for="event_date" class="form-label">Event Date</label>
      <input type="date" id="event_date" name="event_date" value="{{ event_date }}" class="form-control">
    </div>
    <div class="col-md-4">
      <label for="start_time" class="form-label">Start Time</label>
      <input type="time" id="start_time" name="start_time" value="{{ start_time }}" class="form-control">
    </div>
    <div class="col-md-4">
      <label for="end_time" class="form-label">End Time</label>
      <input type="time" id="end_time" name="end_time" value="{{ end_time }}" class="form-control">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md">
      <label for="equipment" class="form-label">Equipment</label>
      <select id="equipment" name="equipment" class="select2 form-select" multiple>
        {% for eq in equipment_list %}
          <option value="{{ eq.id }}" {% if eq.id|stringformat:"s" in selected_equipment %}selected{% endif %}>{{ eq.name }}</option>
        {% endfor %}
      </select>
    </div>    
  </div>
  <div class="mt-3 mb-5">
    <button type="submit" class="btn btn-primary">Filter</button>
    <a href="{% url 'room_list' %}" class="btn btn-secondary">Reset Filter</a>
  </div>
</form>

<!-- Room Listing -->
<div class="row">
  {% for room in rooms %}
  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ room.name }}</h5>
        <p class="card-text">{{ room.description }}</p>
        <p class="card-text"><small>Capacity: {{ room.capacity }}</small></p>
        <p class="card-text">
          <small>
            Equipment:
            {% for eq in room.equipment.all %}
              {{ eq.name }}{% if not forloop.last %}, {% endif %}
            {% empty %}
              None
            {% endfor %}
          </small>
        </p>
        <div class="d-flex justify-content-between">
          <a href="{% url 'room_detail' room.pk %}" class="btn btn-outline-secondary btn-sm">View Details</a>
          
          {% if event_date and start_time and end_time %}
            <form method="get" action="{% url 'room_detail' room.pk %}">
              <input type="hidden" name="event_date" value="{{ event_date }}">
              <input type="hidden" name="start_time" value="{{ start_time }}">
              <input type="hidden" name="end_time" value="{{ end_time }}">
              <input type="hidden" name="open_modal" value="true">
              <button type="submit" class="btn-custom btn-sm">Book Room</button>
            </form>
          {% else %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% empty %}
    <p>No rooms available for the selected filters.</p>
  {% endfor %}
</div>



{% endblock %}
